    <div class="sidebar" data-color="purple" data-background-color="white">
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" routerLink="home">
              <i class="material-icons"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item active  ">
            <a class="nav-link" routerLink="product">
              <i class="material-icons"></i>
              <p>Termékek</p>
            </a>
          </li>
          <li class="nav-item active  ">
            <a class="nav-link" routerLink="customer">
              <i class="material-icons"></i>
              <p>Vásárlók</p>
            </a>
          </li>
          <li class="nav-item active  ">
            <a class="nav-link" routerLink="order">
              <i class="material-icons"></i>
              <p>Rendelések</p>
            </a>
          </li>
          <li class="nav-item active  ">
            <a class="nav-link" routerLink="bill">
              <i class="material-icons"></i>
              <p>Pénztár</p>
            </a>
          </li>
        </ul>
      </div>
    </div>